.App {
  height: 100vh;
}

.body {
  display: grid;
  grid-template-columns: minmax(auto, 300px) minmax(400px, auto);

  height: 100%;
}

.explorer {
  border: 1px solid black;
  height: 100%;
  /* background-color: aqua; */

  display: flex;
  flex-direction: column;
}

.explorer__tab-adder {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.text-input {
  width: 100%;
}

.labeled {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;

  gap: 20px;
}

.editor {
  display: flex;
  flex-direction: column;

  gap: 20px;

  border: 1px solid black;
  height: 100%;

  padding: 0 20px 0 20px;
}

.method-selector__button {
  appearance: none;
  background-color: transparent;
  padding: 10px;

  border: 1px solid black;

  &:hover {
    background-color: rgb(187, 226, 236);
  }

  &.selected {
    background-color: rgb(114, 219, 245);
  }
}

.tab {
  padding: 10px;
  margin: 0;
  border: 1px solid black;

  &:hover {
    background-color: rgb(187, 226, 236);
  }
}

.params-table {
  display: grid;

  grid-template-columns: 1fr 1fr;
  
}
