.text-input {
    width: 100%;
    font-size: 1em;
    padding: 10px;
  
    background: none;

    border: 1px solid var(--primary-color);
    border-radius: 5px;
  }
  
.textarea-input {
    @extend .text-input;
    resize: vertical;
}

.number-input {
    @extend .text-input;
}
  
.labeled {
    display: flex;
    flex-direction: row;
  
    justify-content: flex-start;
    align-items: center;
  
    gap: 20px;

    & label {
        flex: 1
    }

    & label + * {
        flex: 2
    }
}

.method-selector__button {
    appearance: none;
    background-color: transparent;
    padding: 10px;
  
    border: 1px solid var(--primary-color);

    color: var(--primary-color);
  
    &:hover {
        background-color: var(--dark-hover);
        color: var(--secondary-color);

        cursor: pointer;
    }
  
    &.selected {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
}

.params-table {
    display: grid;

    border-radius: 15px;
    border: 10px solid var(--primary-color);

    & span {
        background-color: var(--primary-color);
        color: var(--secondary-color);

        padding: 5px;
    }

    & input {
        appearance: none;
        outline: none;
        background-color: transparent;
        border: 2px solid var(--primary-color);

        min-width: 0;

        font-size: 1rem;

        padding: 5px;

        &:disabled {
            background-color: var(--disabled);
        }

        &:active, &:focus {
            border: 2px solid var(--primary-color);
        }
    }
  
    grid-template-columns: 1fr 1fr;
}

.btn {
    appearance: none;
    border: none;

    cursor: pointer;

    font-size: 1.5em;

    padding: 5px;

    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);

    border-radius: 15px;

    &:hover, &:focus {
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        transform: translateY(-1px);
    }

    &:active {
        box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
        transform: translateY(0);
    }
}
